{{! Partial for a single post }}
<div class="post">
    <div class="post-avatar">
        <img src="{{#if user.avatar_url}}{{user.avatar_url}}{{else}}/avatar/{{user.username}}{{/if}}" alt="User Avatar">
    </div>
    <div class="post-content preserve-newlines">
        <h2>{{title}}</h2>
        <p>{{content}}</p>
        <div class="post-status-bar">
            <p>Posted by: {{username}} on {{timestamp}}</p>
            <p>Likes: {{likes}}</p>
            {{#ifCond username ../user.username}}
                <form action="/delete/{{id}}" method="POST">
                    <button type="submit" class="delete-button"><i class="fas fa-trash-alt"></i> Delete</button>
                </form>
            {{else}}
                <form action="/like/{{id}}" method="POST">
                    <button type="submit" class="like-button" data-id="{{id}}">♥ Like</button>
                </form>
            {{/ifCond}}
        </div>
    </div>
</div>
